{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Выход" %}{% endblock %}

{% block content %}
    <form class="signup form-signin border border-danger rounded" method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        <h1 class="h1 mb-3 font-weight-normal">{% trans "Выход" %}</h1>

        <p>{% trans 'Вы уверены, что хотите выйти?' %}</p>
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button class="primaryAction btn btn-lg btn-danger btn" type="submit">{% trans 'Выход' %}</button>
    </form>


{% endblock %}
