{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <form method="POST" action="{% url 'account_reset_password' %}"
          class="password_reset form-signin border border-primary rounded">
        {% csrf_token %}
        <h1 class="h2">{% trans "Password Reset" %}</h1>
        <p class="border-top border-bottom border-secondary-50">
            {% trans "Забыли свой пароль? Введите свой адрес электронной почты ниже, и мы отправим вам электронное письмо, позволяющее вам сбросить его" %}
        </p>
        <p>
            <label for="id_email" class="sr-only">E-mail:</label>
            <input class="form-control" type="email" name="email" size="30" placeholder="E-mail"
                   required id="id_email">
        </p>
        <input class="primaryAction btn btn-lg btn-primary btn-block" type="submit"
               value="{% trans 'Сбросить мой пароль' %}"/>
        <p class="mt-5 mb-3 text-muted">
            {% blocktrans %}Пожалуйста, свяжитесь с нами, если у вас возникнут проблемы с восстановлением
                пароля.{% endblocktrans %}
        </p>
    </form>
{% endblock %}
