{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="alert alert-success" role="alert">
        <h1>{% trans "Изменение пароля" %}</h1>
        <p>{% trans 'Ваш пароль теперь изменен.' %}</p>
        <button class="primaryAction btn btn-lg btn-primary btn">
            <a class="text-decoration-none text-white" href="{% url 'videoHosting:index' %}">Вернуться на главную</a>
        </button>
    </div>
{% endblock %}
