/* CSS */

body {
    min-height: 100vh;
    position: relative;
    padding-bottom: 70px;
}

.modal_cursor {
    cursor: pointer;
}

.suka {
    width: 150px;
    height: 150px;
    background-color: red;
}

.content_text{
    width: 100%;
    resize: none;
    outline : none;
    padding: 10px;
    border-radius: 10px;
}

.wrapper_comment{
    list-style-type: none;
    padding: 1em;
    border-top: 1px solid #818182;
}

.comment_new{
    margin-top: 1em;
}

.comment_user{
    font-size: 1.2em;
    font-weight: 500;
    color: #2a5885;
}

.comment_text{
    line-height: 1.36;
    font-size: 1em;
}

.comment_pub_date{
    margin-top: 1em;
    font-size: .7em;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
}

.nav-item:last-child {
    margin-right: 20px;
}

.linki:first-child {
    margin-right: 10px;
}

@media screen and (max-width: 992px) {
    .nav-item:last-child {
        margin-right: 0;
    }

    .linki:first-child {
        margin-right: 0;
    }


    .search {
        justify-content: center;
    }
}
