/* CSS */

body {
    min-height: 100vh;
    position: relative;
    padding-bottom: 70px;
}

.modal_cursor {
    cursor: pointer;
}

.suka {
    width: 150px;
    height: 150px;
    background-color: red;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
}

.nav-item:last-child {
    margin-right: 20px;
}

.linki:first-child {
    margin-right: 10px;
}

@media screen and (max-width: 992px) {
    .nav-item:last-child {
        margin-right: 0;
    }

    .linki:first-child {
        margin-right: 0;
    }


    .search {
        justify-content: center;
    }
}
